@font-face {
    font-family: 'Px Grotesk';
    src: url('PxGrotesk-Bold.woff2') format('woff2'),
        url('PxGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Px Grotesk';
    src: url('PxGrotesk-Light.woff2') format('woff2'),
        url('PxGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PxGrotesk';
    src: url('PxGrotesk-Regular.woff2') format('woff2'),
        url('PxGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

