@import url('/pp-telegraf/stylesheet.css');

:root {
  --bg: #000000;
  --text: #ffffff;
  --gray: rgba(255,255,255,0.5);
  --transition: all 0.3s;
}

/* For light/dark mode */
/* :root {
  --bg: #ffffff;
  --text: #000000;
  --gray: rgba(0,0,0,0.5);
  --transition: all 0.3s;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
    --text: #ffffff;
    --gray: rgba(255,255,255,0.5);
    --transition: all 0.3s;
  }

  .sun {
    display: none;
  }
  
  .moon {
    display: block !important;
  }
}

.sun {
  display: block;
}

.moon {
  display: none;
}


.darkMode {
  background-color: var(--bg);
  --bg: #ffffff;
  --text: #000000;
  --gray: rgba(0,0,0,0.5);
  --transition: all 0.3s;
}

.toggle {
  height: 16px;
  width: 16px;
  cursor: pointer;
} */

body, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'pp_telegrafregular', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: row;
}

.sidebar {
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  max-width: 337px;
  width: -webkit-fill-available;
}

.name-wrapper{
  padding: 48px;
}

.label-m {
  font-size: 14px; 
  line-height: 16px;
}

paragraph-m {
  font-size: 14px;
  line-height: 200%;
}

.gray {
  color: var(--gray);
}

#current-time {
  margin-top: 24px;
}

.nav-link-collection {
  padding: 0px 48px;
}

.nav-link {
  font-size: 32px;
  margin-top: 32px;
}

.nav-link-collection:first-child {
  margin-top: 0px;
}

.disabled {
  color: var(--text);
  opacity: 0.5;
  cursor: not-allowed;
}

.sidebar-button {
  font-size: 16px;
  line-height: 16px;
  padding: 32px 48px;
  display: flex;
  justify-content: space-between;
  color: var(--text);
  cursor:pointer;
  border-top: 1px solid #222;
  transition: var(--transition);
  background-color: transparent;
}

.sidebar-button:hover {
  background-color: #222;
  transition: var(--transition);
}

.sidebar-button:visited {
  color: var(--text);
}

.main-wrapper {
  max-width: 846px;
  margin: 48px auto;
}


